@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto+Mono:wght@100&display=swap');
:root {
    --primary-color: #017EC6   ;
    --secondary-color: #F7E141 ;
    --accent1-color: #6C0087;
    --accent2-color: #D750F5;

    --heading-font: Agbalumo;
    --paragraph-font: Roboto, monospace, sans-serif;
  

    --headline-color-on-white: #017EC6;  
    --headline-color-on-color: #D750F5;  
    --paragraph-color-on-white: #017EC6;  
    --paragraph-color-on-color: #D750F5; 
    --paragraph-background-color: #6C0087  ;
    --nav-link-color: #017EC6;
    --nav-background-color: #F7E141;
    --nav-hover-link-color: #D750F5;
    --nav-hover-background-color: #017EC6;
}

body {
    text-align: center;
}
h1 {
    text-align: center;
    justify-content: space-around;
    font-family: var(--heading-font);
    color: #F7E141
}
h2 {
    text-align: center;
    justify-content: space-around;
    font-family: var(--heading-font);
    color: #6C0087;
    font-size: 50px
}
div {text-decoration: none;
    list-style-type: none;
    display: block;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 0;
    border-radius: 10px;
    margin-left: auto;    
    margin-right: auto;
    float: none;}
div, nav, footer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-family:var(--paragraph-font)
}
nav  {
    list-style-type: none;
    display: flex;
    text-align: center;
    min-width: 100px;
    border-radius: 10px;
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    padding: 15px;
  }
  div a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    float: none;
  }
  div a:link, nav a:visited {
    color: #017EC6;
  }
div a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
    border-radius: 10px;
  }

header, footer {background-color: #F7E141;}
#hero, #part1, #part2, #part3{position:static;
    display:flex;
display:block; 
margin: 0 auto;
}
#part1, #part2, #part3 {padding: 5em}

#part1 {margin-top: 50px;}
#part2, #part3 {margin-top: 20px;padding:5em}
.banner{position:relative;
transition: transform .5s;
box-shadow: 5px 5px 10px #6f7364;
width:100%;
display:block}
.h1{font-size: 180px;
    text-align: center;}
.image1, .image2{position:relative}
.h1{position:absolute}
.whatsapp,.twitter, .facebook{padding: 2em;}
.logo{padding: 1em;}
.image1{
    position:relative;
    box-shadow: 5px 5px 10px #201716;
    display:block
}
.image2{
    position:relative;
    box-shadow: 5px 5px 10px #201716;
    display:block
}
#para1 { 
    font-family: var(--paragraph-font);
    display: block; 
    position:relative; 
    width: 200px;
    padding: 50px;
    box-shadow: 5px 5px 10px #201716;
    margin-top: 0px;
    border-radius: 10px;
    color:#6C0087;
    background-color: #D750F5;
    border: 10px solid #017EC6}

#para2 { 
    font-family: var(--paragraph-font);
    display: block; 
    position:relative; 
    width: 200px;
    padding: 50px;
    box-shadow: 5px 5px 10px #201716;
    margin-top: -50px;
    border-radius: 10px;
    color:#6C0087;
    background-color: #D750F5;
    border: 10px solid #017EC6
}
.button {
    border: none;
    position:relative;
margin:auto; 
    display: block; 
    width: 400px;
height: 90px;
font-size: 30px;
padding: 2px;
float: none;
font-family: var(--paragraph-font);
color:#6C0087;
background-color: #F7E141;
border: 10px solid #6C0087;
transition: transform .5s;
box-shadow: 5px 5px 10px #6f7364;
border-radius: 20px
}
footer{margin-top: 100px;}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 10px solid #ffa908;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    font-family:var(--paragraph-font);
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    border-radius: 10%;
  
    /* Match form field borders */
    border: 3px solid rgb(211, 124, 11);
  }
  
  input:focus,
  textarea:focus {
    border-color: rgb(189, 57, 17);
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  

  

  #feedback {
      background-color: #017EC6;
      color:#D750F5;
      font-family: var(--heading-font);
      position: absolute;
      margin-top: auto;
      font-size: 30px;
      left: 0;
      right: 0;
      padding: .5em;
      display: none;      
  }
  .moveDown {
      margin-top: 3em;
  }
a {
    text-decoration: none;
    font-size: 22px;}
    .button:hover {
        opacity: .6;
        transform: scale(1.1);
    }
    .button2:hover {
        opacity: .6;
        transform: scale(1.1);
    }
    .banner:hover {
        opacity: .6;
        transform: scale(1.1);
    }
    
    .sitemap > div {
    
        text-align: center;
      
      }