@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
:root {
--heading-font: "Ranchers";
--paragraph-font: Bahnschrift, sans-serif;
}
body {
    text-align: center;
}
h1 {
    text-align: center;
}
nav, footer {
    text-align: center;
}
.banner {width: 100%}
.rivers {width: 5%}
.camping {width: 5%}
.rapids {width: 5%}
.rapidsimg {width: 20%}
.campingimg {width: 20%}
.riversimg{width: 20%}
.facebook {width: 100%}
.twitter {width: 100%}
.mountain {width: 50%}

#para1 {
    background-color: aqua;
    border: 2px solid blue;
}

img {
    width: 10%;
    display: block;
    margin: 0 auto;
}
main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
p.colored {
  background-color: rgb(105, 42, 0);
  color: rgb(251, 255, 0);
}
nav, footer {
    background-color: rgb(114, 217, 235);
    color: rgb(179, 27, 0);
    padding: 10px;
}
nav  {
    list-style-type: none;
    display: flex;
  }
nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 100px;
}
footer p {
  font-size: 1.2em;
    margin: 20px auto;
}
footer p a:hover {
  text-decoration: underline;
}  
header {
    background-color: rgb(255, 198, 75);
    color: rgb(0, 15, 97);
}
a:hover {
    background-color: rgb(255, 117, 36);
    color: rgb(0, 36, 153);
}
.sitemap {
    display: grid;
    justify-content: center;
  
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
      ". . . top . ."
      ". left left right right ."
      "page2 page2 . . page3 page3";
  }
  .sitemap > div {
    text-align: center;
  }