@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
:root {
--heading-font: "Ranchers";
--paragraph-font: Bahnschrift, sans-serif;
--paragraph-font-2: Courier New, monospace
}
body {
    text-align: center;
}
h1 {
    text-align: center;
}
nav, footer {
    text-align: center;
    font-family: var(--paragraph-font-2)
}
p {
    text-align: center;
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block
}
.banner {width: 100%}
.rivers {width: 5%}
.camping {width: 5%}
.rapids {width: 5%}
.rapidsimg, .campingimg, .riversimg {width: 20%;
    margin: 100px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;   
    border: 15px solid rgb(10, 10, 94)
}
.facebook, .twitter {width: 100%}
.mountain {width: 50%;    
    border-radius: 10px;
    border: 15px solid rgb(10, 10, 94)
}

h1, h3{
    font-family: var(--heading-font);
    display: block;
}
h2 {
    font-family: var(--paragraph-font);
    display: block
}
#para1{
    font-family: var(--paragraph-font);
    display: block;    
    text-align: center;
    width: 300px;
    padding: 50px;
    margin: 100px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: rgb(69, 187, 255);
    border: 25px solid rgb(250, 162, 0)
}
#para2 {
    display: block;  
    text-align: center;
    width: 300px;
    padding: 50px;
    background-color: rgb(255, 145, 0);
    margin: 100px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 15px solid rgb(10, 10, 94)
}

#para3{
    font-family: var(--paragraph-font);
    display: block;    
    text-align: center;
    width: 300px;
    padding: 50px;
    margin: 100px;
    float: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: rgb(0, 122, 192);
    border: 25px solid rgb(247, 206, 23)
}

#para4 {
    font-family: var(--paragraph-font);
    display: block;
    margin: 100px;
    float: none;
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
    width: 300px;
    padding: 50px;
    border-radius: 10px;
    background-color: rgb(57, 192, 255);
    border: 15px solid rgb(100, 0, 0)
}

.join {
    background-color: #d9c2a3;
    color: rgb(255, 32, 32);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;    
    border-radius: 10px;
}

img {
    width: 10%;
    display: block;
    margin: 0 auto;
}
main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
p.colored {
  background-color: rgb(105, 42, 0);
  color: rgb(251, 255, 0);
border-radius: 10px rgb(40, 51, 207);
}
nav{
    border: 5px solid rgb(0, 122, 153);
    background-color: rgb(43, 171, 194);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 10px;
    display: block;
    float: none;
    margin-left: auto;    
    margin-right: auto;
}
footer {
    display: block;
    border: 5px solid rgb(10, 43, 104);
    background-color: rgb(0, 103, 151);
    color: rgb(255, 255, 255);
    padding: 10px;
}
nav  {
    list-style-type: none;
    display: flex;
  }

nav a {
    list-style-type: none;
    text-decoration: none;
    display: block;
    color: #fcfbfb;
    text-align: center;
    min-width: 100px;
    padding: 120px;
    border-radius: 10px;
}

footer p {
  font-size: 1.2em;
    margin: 20px auto;
}
footer p a:hover {
    text-decoration: none;
    display: block;
  }  
header {
    background-color: rgb(255, 197, 122);
    color: rgb(0, 15, 97);
    text-align: center;
}
a:hover {
    background-color: rgb(255, 117, 36);
    color: rgb(24, 0, 16);
}
.sitemap {
    display: grid;
    justify-content: center;
  
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
      ". . . top . ."
      ". left left right right ."
      "page2 page2 . . page3 page3";
  }
  .sitemap > div {
    text-align: center;
  }